@define-color x_color @accent_color;
@define-color o_color @red_3;

gridelement {
  min-width: 80px;
  min-height: 80px;
  border-color: @borders;
	border-style: solid;
	border-width: 3px;
}

gridelement label {
  font-size: 400%;
}

.counter {
  font-size: 140%;
  font-weight: 600;
}
.player-label {
  font-size: 140%;
}

.winner-label {
  font-size: 200%;
  font-weight: 800;
}
